.banner {
    background: url(../images/banner4.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 9.6rem;
    margin-top: 1.2rem;
}

.product_swiper h4 {
    margin-top: 1.066667rem;
    color: #333;
    font-size: .373333rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.page1 {
    width: 9.333333rem;
    height: 6.4rem;
    background: url(../images/device5.png) no-repeat center;
    background-size: cover;
}

.page2 {
    width: 2.4rem;
    height: 1.466667rem;
    background: url(../images/device6.png) no-repeat center;
    background-size: 1.2rem 1.2rem;
}

.product_detail {
    margin-top: .6rem;
    padding: 0 .32rem;
    box-sizing: border-box;
}

.product_detail1:not(:first-child) {
    margin-top: .4rem;
}

.product_detail1:last-child {
    margin-bottom: .8rem;
}

.product_detail1 h3, .application1 h3 {
    font-size: .32rem;
    font-weight: bold;
    color: #333;
}

.product_detail1 p, .application1 p {
    font-size: .32rem;
}

.application {
    padding: 0 .32rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: #f3f3f3;
    overflow: hidden;
}

.application1:first-child {
    margin-top: 1.066667rem;
}

.application1 {
    margin-top: .666667rem;
}

.application1 p {
    margin-top: .133333rem;
}

.application1 .application1_imgs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: .666667rem;
}

.application1 .application1_imgs .img_show {
    width: 4.266667rem;
    height: 2.666667rem;
    margin-bottom: .666667rem;
    position: relative;
}

.application1 .application1_imgs .img_show:first-child {
    background: url(../images/glass.png) no-repeat center;
    background-size: cover;
}

.application1 .application1_imgs .img_show:nth-child(2) {
    background: url(../images/glass2.png) no-repeat center;
    background-size: cover;
}

.application1 .application1_imgs .img_show:nth-child(3) {
    background: url(../images/glass3.png) no-repeat center;
    background-size: cover;
}

.application1 .application1_imgs .img_show:nth-child(4) {
    background: url(../images/glass4.png) no-repeat center;
    background-size: cover;
}

.application1 .application1_imgs .img_show:nth-child(even) {
    margin-left: .8rem;
}

.application1 .application1_imgs .img_show p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: .293333rem;
    background: rgba(0, 0, 0, .7);
}